.ant-input[type='number']::-webkit-inner-spin-button,
.ant-input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: auto;
    opacity: 1;
}
.ant-input[type='number'] {
    -moz-appearance: number-input;
    appearance: number-input;
}
