.ant-table-filter-dropdown-btns .ant-btn-primary {
    background-color: #ff3a3a;
}

/* Remove top padding from expanded row cell */
.ant-table-expanded-row > .ant-table-cell {
    padding-top: 0 !important;
}

/* Remove unnecessary bottom scroll space in TimePicker */
.ant-picker-time-panel-column {
    padding-bottom: 0 !important;
}

/* Reduce extra top spacing as well */
.ant-picker-time-panel-column::after {
    height: 0 !important;
}


